.root {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
}
.splitVertical {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}
.splitHorizontal {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.pane {
  display: flex;
  flex: 1 1 auto;
  min-width: 0;
  min-height: 0;
}
