.gridLayout {
  display: grid;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* Touch-action for drag/resize prevention */
.gridLayout[data-dragging="true"],
.gridLayout[data-dragging="true"] *,
.gridLayout[data-resizing="true"],
.gridLayout[data-resizing="true"] * {
  touch-action: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

