.resizeHandleWrapperVertical {
  position: absolute;
  top: 0;
  bottom: 0;
  width: var(--rpl-size-grid-handle-thickness, 4px);
  pointer-events: auto;
}

.resizeHandleWrapperHorizontal {
  position: absolute;
  left: 0;
  right: 0;
  height: var(--rpl-size-grid-handle-thickness, 4px);
  pointer-events: auto;
}
