.tab {
  display: inline-flex;
  align-items: center;
  user-select: none;
}
.tabActive {
  /* No decoration - controlled by user */
}
.tabDragging {
  /* No decoration - controlled by user */
}
.tabTitle {
  /* No decoration - controlled by user */
}
.spacer {
  flex: 1 1 auto;
}
.tabbar {
  display: flex;
  align-items: center;
}
