.horizontalDivider {
  width: 4px;
  cursor: col-resize;
  position: relative;
  user-select: none;
}

/* Add a larger hit area */
.horizontalDivider::before {
  content: "";
  position: absolute;
  top: 0;
  left: -4px;
  right: -4px;
  bottom: 0;
}

