.resizeHandle {
  position: absolute;
  z-index: 1000;
}

.resizeHandle[data-direction="vertical"] {
  width: var(--rpl-size-resize-handle-thickness, 4px);
  height: 100%;
  top: 0;
  cursor: col-resize;
}

.resizeHandle[data-direction="horizontal"] {
  width: 100%;
  height: var(--rpl-size-resize-handle-thickness, 4px);
  left: 0;
  cursor: row-resize;
}
