.resizeHandle {
  position: absolute;
  z-index: 1000;
  background: transparent;
  transition: background-color 0.2s ease;
}

.resizeHandle:hover,
.resizeHandle[data-is-dragging="true"] {
  background-color: var(--rpl-color-primary, var(--node-editor-color-primary, #2196f3));
}

.resizeHandle[data-is-dragging="true"] {
  opacity: 0.8;
}

.resizeHandle[data-direction="vertical"] {
  width: var(--rpl-size-resize-handle-thickness, 4px);
  height: 100%;
  top: 0;
  cursor: col-resize;
}

.resizeHandle[data-direction="horizontal"] {
  width: 100%;
  height: var(--rpl-size-resize-handle-thickness, 4px);
  left: 0;
  cursor: row-resize;
}
