.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.panelContainer {
  flex: 1;
  min-height: 0;
}

.panelSystem {
  width: 100%;
  height: 100%;
}

.tabContent {
  padding: 12px;
}
