.title {
  margin: 0;
  font-weight: 600;
  color: var(--rpl-demo-text-primary);
}

.sm {
  font-size: var(--rpl-demo-font-size-sm);
}

.md {
  font-size: var(--rpl-demo-font-size-md);
}

.lg {
  font-size: var(--rpl-demo-font-size-lg);
  font-weight: 700;
}
